{{#each this}}
<div class="country-card">
    <div class="country-flag">
        <img src="{{flag}}" alt="flag of {{name}}" width="80px">
        <h1 class="country-name">{{name}}</h1>
    </div>

    <ul class="country-info">
        <li>Capital: {{capital}}</li>
        <li>Population: {{population}}</li>
        <li>Languages: {{#each this.languages}} {{name}}, {{/each}} 
        </li>
    </ul>
    
</div>
{{/each}}